# Association Rules Mining

### import required packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

### load the data

In [4]:
dataset = [
    ["bread", "cheese", "egg", "juice"],
    ["bread", "cheese", "juice"],
    ["bread", "milk", "yogurt"]
]

### preprocess the data

In [5]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   bread  cheese    egg  juice   milk  yogurt
0   True    True   True   True  False   False
1   True    True  False   True  False   False
2   True   False  False  False   True    True

In [9]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.4, use_colnames=True)

    support                itemsets
0  1.000000                 (bread)
1  0.666667                (cheese)
2  0.666667                 (juice)
3  0.666667         (cheese, bread)
4  0.666667          (juice, bread)
5  0.666667         (juice, cheese)
6  0.666667  (juice, cheese, bread)